@page {
    width: 50mm;
    height: 25mm;
    padding: 3mm;
}

img {
    height: 16mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    margin-right: 5mm;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
}